{% extends "dashboard/dashboard_base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Subscription - WMRS{% endblock %}
{% block header %}Create Service Agreement{% endblock %}

{% block dashboard_content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-4">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-success">Create Agreement</button>
                    <a href="{% url 'dashboard:index' %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
